<h1 class="mb-1 show-title">新增餐廳資料</h1>

<div class="w-80 d-flex justify-content-center">
  <form action="/restaurants/new" method="POST">
    <div class="form-row">

      <div class="form-group col-md-6">
        <label for="name">Name
          <span class="required-column">*</span>
        </label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="english-name">English Name</label>
        <input type="text" class="form-control" id="english-name" name="name_en">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="category">Category</label>
        <input type="text" class="form-control" id="category" name="category">
      </div>
      <div class="form-group">
        <label for="rating">Rating</label>
        <input type="text" class="form-control" id="rating" name="rating">
      </div>
      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone" name="phone">
      </div>
    </div>

    <div class="form-group">
      <label for="image">Image</label>
      <input type="text" class="form-control" id="image" name="image" placeholder="paste url in here">
    </div>

    <div class="form-group">
      <label for="location">Location</label>
      <input type="text" class="form-control" id="location" name="location">
    </div>

    <div class="form-group">
      <label for="google-map">Google Map</label>
      <input type="text" class="form-control" id="google-map" name="google_map">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description">
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
