header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #9b4b4b !important;
  font-family: 'Pacifico', cursive;
  font-size: 1.5rem;  
}

.navbar .navbar-brand:hover {
  color: #783a3a !important;
}

.navbar .navbar-element {
  text-decoration: none;
  color: #9b4b4b !important;
}

.navbar .navbar-element:hover {
  color: #783a3a !important;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center
  url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

#btn-delete {
  border: none;
  background-color: transparent;
  padding: 0;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.card img{
  height: 180px;
}

.card-title{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}

#edit-restaurant-image {
  width: 30%;
  height: 30%;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.required-column {
  color: red;
}

.show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.index-icon {
  color: #9b4b4b;
}

.submit-btn {
  color: white !important;
  background-color: #9b4b4b !important;
}

.submit-btn:hover {
  background-color: #783a3a !important;
}

textarea {
  width: 100%;
  padding: .375rem .75rem;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  color: #495057;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

textarea:focus {
  outline: none !important;
  border-color: #32a1f0;
  box-shadow: 0 0 0 3px rgba(171, 205, 237, 10);
}

@media screen and (max-width: 992px) {
  .card img{
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img{
    height: auto;
  }
}
